network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      addresses:
        - {{ gateway_external_ip }}/{{ gateway_external_netmask | default('24') }}
      routes:
        - to: default
          via: {{ gateway_external_gw }}
      nameservers:
        addresses: [8.8.8.8, 1.1.1.1]
    eth1:
      dhcp4: false
      addresses:
        - {{ gateway_internal_ip }}/{{ gateway_internal_netmask | default('24') }}