global:
  scrape_interval: 15s

scrape_configs:
  # cAdvisor
  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  # Node Exporters with relabeling
  - job_name: "node_exporters"
    static_configs:
      - targets: ["192.168.178.25:9100"]
        labels:
          nodename: "node01"
      - targets: ["192.168.178.27:9100"]
        labels:
          nodename: "node02"
      - targets: ["192.168.178.28:9100"]
        labels:
          nodename: "node03"
    relabel_configs:
      # Replace the instance label with the nodename label
      - source_labels: [nodename]
        target_label: instance
        action: replace
