logging {
  level = "info"
}

discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

loki.source.docker "docker_logs" {
  host    = "unix:///var/run/docker.sock"
  targets = discovery.docker.containers.targets
  labels = {
    job  = "docker",
    host = "{{ inventory_hostname }}",
  }
  forward_to = [loki.write.homelab_loki.receiver]
}

loki.source.journal "system_journal" {
  path    = "/var/log/journal"
  max_age = "24h"
  labels = {
    job  = "systemd",
    host = "{{ inventory_hostname }}",
  }
  forward_to = [loki.write.homelab_loki.receiver]
}

loki.write "homelab_loki" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

prometheus.exporter.self "alloy" {}
